

LOTT/C제휴사2014TR
LOTT/A제휴사2014TR
LOTT/A제휴사2014TR
*.pkl
LOTT/C제휴사2015TR
*.csv
LOTT/B제휴사2014TR
LOTT/A제휴사2015TR
LOTT/D제휴사2014TR
LOTT/B제휴사2015TR
LOTT/D제휴사2015TR
LOTT/경쟁사이용.txt
LOTT/고객DEMO.txt
LOTT/구매상품TR.txt
LOTT/멤버십여부.txt
LOTT/상품분류.txt
LOTT/채널이용.txt
